<form class="needs-validation" novalidate [formGroup]="formEscola" style="padding-top: 10px">
    <div class="form-row">
      <div class="col-sm-12">
        <label for="name">Nome da Escola</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Nome da Escola"
          formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && hasError('name')}"
        />
        <div class="invalid-feedback" *ngIf="hasError('name') && hasError('name')['required']" >
          Por favor informe um nome.
        </div>
        <div class="invalid-feedback" *ngIf="hasError('name') && hasError('name')['minlength']" >
          Nome precisa ter no mínimo {{ hasError('name')['minlength'].requiredLength }} caracteres.
        </div>
        <div class="invalid-feedback" *ngIf="hasError('name') && hasError('name')['maxlength']" >
          Nome precisa ter no máximo {{ hasError('name')['maxlength'].requiredLength }} caracteres.
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-6">
          <label for="cidade">Cidade</label>
          <input
            type="text"
            class="form-control"
            id="cidade"
            placeholder="Cidade"
            formControlName="cidade"
            [ngClass]="{ 'is-invalid': submitted && hasError('cidade')}"
          />
          <div class="invalid-feedback" *ngIf="hasError('cidade') && hasError('cidade')['required']" >
            Por favor informe a cidade.
          </div>
          <div class="invalid-feedback" *ngIf="hasError('cidade') && hasError('cidade')['minlength']" >
            Nome precisa ter no mínimo {{ hasError('cidade')['minlength'].requiredLength }} caracteres.
          </div>
          <div class="invalid-feedback" *ngIf="hasError('cidade') && hasError('cidade')['maxlength']" >
            Nome precisa ter no máximo {{ hasError('cidade')['maxlength'].requiredLength }} caracteres.
          </div>
        </div> 
        <div class="col-sm-6">
            <label for="bairro">Bairro</label>
              <input
                type="text"
                class="form-control"
                id="bairro"
                placeholder="Bairro"
                formControlName="bairro"
                [ngClass]="{ 'is-invalid': submitted && hasError('bairro')}"
              />
              <div class="invalid-feedback" *ngIf="hasError('bairro') && hasError('bairro')['required']" >
                Por favor informe o bairro.
              </div>
              <div class="invalid-feedback" *ngIf="hasError('bairro') && hasError('bairro')['minlength']" >
                Nome precisa ter no mínimo {{ hasError('bairro')['minlength'].requiredLength }} caracteres.
              </div>
              <div class="invalid-feedback" *ngIf="hasError('bairro') && hasError('bairro')['maxlength']" >
                Nome precisa ter no máximo {{ hasError('bairro')['maxlength'].requiredLength }} caracteres.
              </div>        
            </div>
        </div>
    </div>
    <div style="margin-top: 10px">
      <button type="sumit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
      <button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
    </div>
</form>
  
